@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0f0f14;
	--foreground: #fff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0f0f14;
		--foreground: #fff;
	}
}
html {
	overscroll-behavior: none;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Gotham, sans-serif;
}

@media screen and (max-width: 640px) {
	.tg-header {
		padding-top: calc(var(--tg-safe-area-inset-top) + 32px);
	}
}
