@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0f0f14;
	--foreground: #fff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0f0f14;
		--foreground: #fff;
	}
}

@layer components {
	.speedo-digits {
		@apply transition-transform duration-1000;
		transition-timing-function: ease-in-out;
	}

	.speedo-digit {
		color: #fff;
		font-variant-numeric: tabular-nums;
		font-feature-settings: 'tnum';
	}

	.speedo-digit-down {
		background: linear-gradient(to right, #f87171, #ef4444);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
	}
}

html {
	overscroll-behavior: none;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	height: 100lvh;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Gotham, sans-serif;
}

@media screen and (max-width: 640px) {
	.tg-safe-area {
		padding-top: calc(var(--tg-safe-area-inset-top) + 32px);
	}
	.tg-safe-area-welcome {
		padding-top: calc(var(--tg-safe-area-inset-top) + 42px);
	}
}
